<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <%= image_tag("webfu.png", class: "icon" ) %>
    </div>
    <div class="col-md-4 icon">
       <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search">

      </div>
    </div>
    <div class="col-md-offset-1 col-md-2">
      <%= image_tag("nav_bar.png", class: "icon") %>
    </div>
  </div>
  <div class="row base-bar">
    <div class="col-md-offset-1  col-md-2">
      <p>Health A-Z</p>
    </div>
    <div class="col-md-2">
      <p>Drugs & Supplements</p>
    </div>
    <div class="col-md-2">
      <p>Living Healthy</p>
    </div>
    <div class="col-md-2">
      <p>Family & Pregnancy</p>
    </div>
    <div class="col-md-2">
      <p>News & Experts</p>
    </div>
    <div class="col-md-1">
      <%= image_tag("social_media.png", class: "small") %>
    </div>

  </div>

  <div class="row text-center" id= "symptoms">
    <%= form_for :disease, url: diseases_path, method: :post do |f| %>
  <p><%= f.label "Do you have a fever?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("fever", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("fever", "no") %></p>

  <p><%= f.label "Do you have diarrhea?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("diarrhea", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("diarrhea", "no") %></p>

  <p><%= f.label "Do you feel sluggish?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("sluggish", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("sluggish", "no") %></p>

  <p><%= f.label "Do you feel depressed?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("depression", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("depression", "no") %></p>

  <p><%= f.label "Have you recently taken a long trip?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("travels", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("travels", "no") %></p>

  <p><%= f.label "Do you fear sunlight?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("vampire", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("vampire", "no") %></p>

  <p><%= f.label "Do you feel differently around the full moon?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("werewolf", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("werewolf", "no") %></p>

  <p><%= f.label "Do you sometimes want to carve 666 into people's skin?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("antichrist", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("antichrist", "no") %></p>

  <p><%= f.label "Do you crave human flesh?" %></p>
  <p><%= f.label "Yes" %>
  <%= f.radio_button("zombie", "yes") %>
  <%= f.label "No" %>
  <%= f.radio_button("zombie", "no") %></p>

  <%= f.submit "Discover Your Fate", class: "btn btn-danger" %>
<% end %>

  </div>
</div>
